.new{
    color: blue;
}
.second{
    color: red;
}
.recbox{
    border: 3px solid #333;
    width: 5%;
}
.box {
  background: #ff7b29;
  border-radius: 6px;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  text-align: center;
  transition-property: background, border-radius;
  transition-duration: 1s;
  transition-timing-function: linear;
  width: 50px;
}
.box:hover {
  background: #2db34a;
  border-radius: 50%;
}